#{extends 'main.html' /} #{set title:'Configuration' /}
<section class="ui section" style="background-color:#CCF5EB">
<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui active item" href="/Tenants/configuration"><i class="home icon"></i>Tenant</a> 
		<a class="ui item" href="/Tenants/logout"><i class="log out icon"></i>Logout</a>
</nav>

<div class="ui two column grid">

  <div class="ui eight wide column" >
    
    <section class="ui segment" style="border:1px solid teal">
      <section class="ui center aligned header">Welcome to your configuration page ${tenant.firstName}</section>
    </section>
    <form class="ui form segment terminate" style="background-color:#CCF5EB">
    <section class="ui segment" style="border:1px solid teal">
      <section class="ui center aligned header">Your Current Rental Property</section>
      <div class="ui teal segment">
        <div class="ui two column grid">
          <div class="ui column" style="width:20%">
            <div class="text" ><h4>Existing rental(eircode):</h4></div>
          </div>
          <div class="ui column" style="width:80%">
            <div class="ui input" style="width:100%">
              #{if tenant.rents != null}
              <input  id="oldResidence" name="resId" value="${tenant.rents.id}" type="text" style="display:none">
              <input class="ui field eircode" id="oldEir" name="eircode" value="${tenant.rents.eircode}" type="text" style="border:1px solid black; width:100%" readonly>
              #{/if}
              #{else}
              <input  id="oldResidence" name="resId" value="" type="text" style="display:none">
              <input class="ui field eircode" id="oldEir" name="eircode" value="" type="text" style="border:1px solid black; width:100%" readonly>
              #{/else}
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <section class="ui segment" style="border:1px solid teal">
      <section class="ui center aligned header">Terminate your current lease.</section>
      <section class="ui teal segment" >
        
          <button type="submit" class="ui center aligned inverted red button" style="width:100%">Terminate Current Tenancy<i class="remove icon"></i></button>
          <div class="ui error message"></div>
        
      </section>
    </section>
    </form>
    <section class="ui segment" style="background-color:#CCF5EB">
      
      <div class="ui teal segment">
        <form class="ui form segment tenantChange"  >
          <section class="ui center aligned header">Select from vacant residences</section>
          <div class="row">
                <div class="ui teal small fluid form segment">
				  <div class="ui selection dropdown" style="width:100%" id="newEir">
				    <input name="resId" type="hidden">
				    <div class="text">Select Residence...</div>
				    <i class="dropdown icon"></i>
				    <div class="menu vacant" >
				      #{list items: vacant, as: 'vacantRes'}
				      <div class="item residence" data-value="${vacantRes.id}">${vacantRes.eircode}</div>
				      #{/list}
				    </div>
				  </div>
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="form-actions">
                  <button type="submit" class="ui center aligned inverted green button" style="width:100%">Change Tenancy<i class="edit icon"></i></button>
                  <div class="ui error message"></div>
                </div>
              </div>
        </form>
      </div>
    </section>   
  </div>
  <div class="ui eight wide column" >
    <section class="ui segment" style="background-color:#CCF5EB;">      
      <div class="ui center aligned header">Search map for vacant residences.</div>   
        <div class="ui center aligned small header">Use buttons below map and view results in table below.</div>
        <div id="map_canvas" class="ui center aligned section" style="width:100%; height:300px;"></div>
        <br>
        <section class="ui center aligned teal segment">
          <div class="ui center aligned small header">Click start to draw polygon. Stop to close. Filter to refine table. Reset to re-populate table and start again. </div>
          <button class="ui inverted teal submit button" type="button" onclick="start()">Start</button>
          <button class="ui inverted teal submit button" type="button" onclick="stop()">Stop</button>
          <button class="ui inverted teal submit button" type="button" onclick="filter()">Filter</button>
          <button class="ui inverted teal submit button" type="button" onclick="reset()">Reset</button>
        </section>
    </section>
      </div>
</div>
<table class ="ui center aligned nine column celled table segment"  style="border-collapse: collapse; border-spacing:0">
  <thead style="line-height:0">
    <tr>
      <th>Eircode</th>
      <th>Date</th>
      <th>Type</th>
      <th>No. Bedrooms</th>
      <th>No. Bathrooms</th>
      <th>Rent(&euro;)</th>
      <th>Area m<sup>2</sup></th>
      <th>Landlord</th>
      <th>Tenant</th>
     </tr>       
   </thead>
   <tbody id="filterTable" style="line-height:.8">  
     <tr>
     </tr>         
   </tbody>            
</table> 
 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhxvjBqQ3dWK3Mlb0OpII1m8cwMHkdZTU&callback=initMap"></script>
    <script src="/public/javascripts/reportmap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/landTenAdmin.js" type="text/javascript" charset="utf-8"></script>
</section>
           