#{extends 'main.html' /} #{set title:'Welcome' /}


<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui active item" href="/"><i class="home icon"></i>Home</a> 
		<a class="ui item" href="/Administrators/login"><i class="sign in icon"></i>Administrator</a>
		<a class="ui item" href="/Landlords/login"><i class="sign in icon"></i>Landlord</a>
		<a class="ui item" href="/Tenants/login"><i class="sign in icon"></i>Tenant</a>
		<a class="ui item" href="/contact"><i class="mail outline icon"></i>Contact</a>
</nav>


<section class="ui two column grid ">
  
  <section class="ui column">
  <div class="ui inverted teal grid">
      <div class="fifteen wide column">
        <div class="ui raised segment">
        <h1>Welcome to myRent</h1>
    
  
        <h3>Your guide to residential property</h3>
    
    
        <p>
          The 2004 Residential Tenancies act gives every landlord and tenant a right to a rent review once each year.
        </p>
        <p>
          The Act makes it illegal for a landlord to charge a rent higher than the market rent.
        </p>
        <p>
          If there is a dispute about the market rent, either the landlord or the tenant can take a case to the Private Residential Tenancies Board (the PTRB).
        </p>
        <p>
          The problem with this system is in establishing an objective way of determining the market rent of a property.
        </p>
        <p>
          The purpose of myRent is to gather information on rents from landlords and tenants and allow any registered user to generate a report on the state of the rental market.
        </p>
        <p>
          The success of the project will depend on the willingness of tenants and landlords to provide information about their properties.
        </p>
        <p>
          Administrator? <a class="ui item" href="/Administrators/login" >Log in</a>.
        </p>
        <p>
          Landlord? <a class="ui item" href="/Landlords/login" >Log in</a>. Request an account? Contact our Administrator <a href="Contact/contact">here</a>.
        </p>
        <p>
          Tenant? <a class="ui item" href="/Tenants/login" >Log in</a>. Request an account? Contact our Administrator <a href="Contact/contact">here</a>.
        </p>
        </div>
        </div>
        </div>
  </section>
  <section class="ui column" >
    <img height=100% width=100% src="/public/images/rent.gif" >
  </section>
</section>