 #{extends 'main.html' /} #{set title:'Input Data' /}


<nav class="ui inverted teal menu" style="border:2px double silver">
        <a class="ui item" href="/Landlords/configuration"><i class="home icon"></i>Landlord</a>
		<a class="ui active item" href="/index"><i class="list icon"></i>Input-Data</a>
		<a class="ui item" href="/Landlords/logout"><i class="log out icon"></i>Logout</a>
</nav>
<section class="ui segment" style="background-color:#CCF5EB">      
  <form class="ui form" action="/datacapture" method="POST">
    
    <div class="ui two column grid">
      <div class="column">
      <p>Please input residence data</p>
    <p>Place marker on map at desired location..</p>
        <div class="ui two column grid">
          <div class="column">
            <div class="ui fluid form segment">         
              <label>Location </label>         
              <div class="ui input">
                <input id = "geolocation"  name="geolocation"  type="text" value="53.347298, -6.268344" readonly>
              </div>               
            </div>
          </div>
          <div class="column">
		    <div class="ui fluid form segment">
		      <div class="ui labeled input">
		        <div class="ui label">
		          Eircode:
		        </div>   
                <input name="eircode" id="eircode"  type="text" size=7>
              </div>
		    </div>
		  </div>
		</div>  
        <div class="ui two column grid">
          <div class="column">
		        <div class="ui fluid form segment">
		          <div class="ui labeled input">
		            <div class="ui label">
		              Rent (&euro;):
		            </div>   
                <input name="rent"  type="text" size=7>
             </div>
		    </div>
		   </div>
		   <div class="column">
            <div class="ui fluid form segment">
              <div class="ui labeled input">
                <div class="ui label">
                  Bedrooms:
                </div>   
                <input name="numberBedrooms"  type="text" size=1>
             </div>
            </div>
          </div>
        </div>
        <div class="ui two column grid">
          <div class="column">
		    <div class="ui fluid form segment">
		      <div class="ui labeled input">
		        <div class="ui label">
		          Bathrooms:
	            </div>   
                <input name="numberBathrooms"  type="text" size=1>
             </div>
		    </div>
		   </div>
		   <div class="column">
            <div class="ui fluid form segment">
              <div class="ui labeled input">
                <div class="ui label">
                  Area(m<sup>2</sup>):
                </div>   
                <input name="area"  type="text" size=3>
             </div>
            </div>
          </div>
        </div>    
        <div class="ui fluid form segment">
				  <div class="ui selection dropdown">
				    <input name="residenceType" type="hidden">
				    <div class="text">Residence type</div>
				    <i class="dropdown icon"></i>
				    <div class="menu">
				      <div class="item" data-value="flat">Apartment|Flat</div>
				      <div class="item" data-value="studio">Studio</div>
				      <div class="item" data-value="house">House</div>
				    </div>
				  </div> 
        </div>
        <div class="form-actions">
          <div class="ui teal submit button">Submit Data <i class="add icon"></i></div>
          <div class="ui error message"></div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised fluid form segment">
          <div id="map_canvas" style="width:100%; height:400px"></div>
          <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
          <script src="/public/javascripts/map.js" type="text/javascript" charset="utf-8"></script>
        </div>
        <div class="ui raised fluid form segment" >
          <iframe src="https://finder.eircode.ie/#/map" width= "100%" height= "250px"></iframe>
        </div>
      </div>
      
    </div>
    
  </form> 
  
  
  
  <script src="/public/javascripts/inputdata.js" type="text/javascript" charset="utf-8"></script>
</section>


