 #{extends 'main.html' /} #{set title:'Results' /}
 
<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui item" href="/Administrators/configuration"><i class="home icon"></i>Administrator</a>
		<a class="ui item" href="/Administrators/report"><i class="list icon"></i>Report</a>
		<a class="ui active item" href="/Administrators/charts"><i class="pie chart icon"></i>Charts</a>
		<a class="ui item" href="/Administrators/logout"><i class="log out icon"></i>Logout</a>
</nav>

<section class="ui segment" style="background-color:#CCF5EB">
  #{list items: data, as: 'data'}
  <input class="landLordName" value="${data.key}" style="display:none"> 
  <input class="rentTotal" value="${data.value}" style="display:none"> 
  #{/list}            
  <div class="ui two column grid"> 
    <div class="ui column">     
      <section class="ui segment" >
        <div class="ui small center aligned header">List Rents.</div> 
        <table class ="ui three column celled table segment"  style="border-collapse: collapse; border-spacing:0">
          <thead style="line-height:0">
            <tr>
              <th>Landlord</th>
              <th>Eircode</th>                        
              <th>Rent(&euro;)</th>                        
            </tr>       
          </thead>
          <tbody style="line-height:.8">
            #{list items: residences, as: 'res'}           
            <tr>
              <td>${res.from.firstName} ${res.from.lastName}</td>  
              <td>${res.eircode}</td>                        
              <td>${res.rent}</td>                     
            </tr>
            #{/list}         
           </tbody>            
         </table> 
       </section>
    </div>
    <div class="ui column" >
      <div class="ui segment">
        <div id="chartContainer" style="width: 100%; height: 300px"></div>
      </div>
    </div>
  </div> 
  <script src="/public/javascripts/chart.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="/public/javascripts/canvasjs.min.js"></script> 
</section>