#{extends 'main.html' /} #{set title:'Configuration' /}
     
<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui active item" href="/Administrators/configuration"><i class="home icon"></i>Administrator</a>
		<a class="ui item" href="/Administrators/report"><i class="list icon"></i>Report</a>
		<a class="ui item" href="/Administrators/charts"><i class="pie chart icon"></i>Charts</a>
		<a class="ui item" href="/Administrators/logout"><i class="log out icon"></i>Logout</a>
</nav>

<section class="ui two column grid">

  <div class="ui eight wide column">
  
    <section class="ui small header">Register a new Landlord.</section>
    <section class="ui segment" style="border:1px solid teal">
      <section class="ui center aligned header">Register Landlord</section>
      <section class="ui teal segment" >
        <a href="/Administrators/registerLand" ><button type="submit" class="ui center aligned teal button" style="width:100%">Sign up new Landlord<i class="plus icon"></i></button></a>
      </section>
    </section>
    
    <section class="ui small header">Register a new Tenant.</section>
    <section class="ui segment" style="border:1px solid teal">
      <section class="ui center aligned header">Register Tenant</section>
      <section class="ui teal segment" >
        <a href="/Administrators/registerTen"><button type="submit" class="ui center aligned teal button" style="width:100%">Sign up new Tenant<i class="plus icon"></i></button></a>
      </section>
    </section>


  
  
  <section class="ui two column grid">
      <div class="ui column">
        <section class="ui center aligned segment" style="border:1px solid teal" >
          <div class="two row grid">
            <form class="ui form segment ten">
              <div class="row">
                <div class="ui teal small fluid form segment">
                <div class="ui center aligned small header">Remove an existing Tenant.</div>
				  <div class="ui selection dropdown" id="Tenant">
				    <input name="tenId" type="hidden">
				    <div class="text">Select Tenant...</div>
				    <i class="dropdown icon"></i>
				    <div class="menu" >
				      #{list items: allTenants, as: 'ten'} 
				      <div class="item ten" data-value="${ten.id}">${ten.email}</div>
				      #{/list}
				    </div>
				  </div>
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="form-actions">
                  <button type="submit" class="ui center aligned inverted red button" style="width:100%">Delete Tenant<i class="remove icon"></i></button>
                  <div class="ui error message"></div>
                </div>
              </div>	
            </form>
          </div>
        </section>
      </div>
      <div class="ui column">
        <section class="ui center aligned segment" style="border:1px solid teal">
          <div class="two row grid">
            <form class="ui form segment land" >
              <div class="row">
                <div class="ui teal small fluid form segment">
                <div class="ui center aligned small header">Remove an existing Landlord.</div>
				  <div class="ui selection dropdown" id="LandLord">
				    <input name="landId" type="hidden">
				    <div class="text">Select Landlord...</div>
				    <i class="dropdown icon"></i>
				    <div class="menu" >
				      #{list items: allLandlords, as: 'land'} 
				      <div class="item land" data-value="${land.id}">${land.email}</div>
				      #{/list}
				    </div>
				  </div>
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="form-actions">
                  <div class="ui center aligned inverted red submit button" style="width:100%" >Delete Landlord<i class="remove icon"></i></div>
                  <div class="ui error message"></div>
                </div>
              </div>	
            </form>
          </div>
        </section>
      </div>
    </section>
  </div>
  <div class="ui eight wide column" >
    <section class="ui segment" style="border:1px solid teal;background-color:#CCF5EB">      
      <div class="ui center aligned header">All Residences.</div>    
        <div class="ui center aligned small header"> Click markers for eircode and tenant information.</div>
        <div id="map" class="ui center aligned section" style="width:100%; height:500px;"></div>
        <br>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhxvjBqQ3dWK3Mlb0OpII1m8cwMHkdZTU&callback=initMap"></script>
    <script src="/public/javascripts/adminmap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/landTenAdmin.js" type="text/javascript" charset="utf-8"></script>
  </div>










</section>