#{extends 'main.html' /} #{set title:'Sign Up/Log In' /}
     
<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui item" href="/"><i class="home icon"></i>Home</a> 
		<a class="ui active item" href="/Administrators/login"><i class="sign in icon"></i>Administrator</a>
</nav>

<div class="ui two column grid">
  <div class="ui eight wide column">
    <section class="ui segment">
	  <h1 class="ui header">Administrator Log-in</h1>
	  <h3>Your username is the email you registered with...</h3>
    </section>
    <section class="ui form segment">
	  <form action="/Administrators/authenticate" method="POST">
		<div class="field" style="width:25%">
	      <label> Username: </label> <input type="text" name="email"  style="border:1px solid black">
		</div>
		<div class="field" style="width:25%">
		  <label> Password: </label> <input type="password" name="password"  style="border:1px solid black">
		</div>
		<button class="ui teal submit button">Login</button>
		<div class="ui error message"></div>
	  </form>
    </section>
  </div>
</div>
<script src="@{'/public/javascripts/conditions.js'}"></script>    