#{extends 'main.html' /} #{set title:'Configuration' /}
     
<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui item" href="/Administrators/configuration"><i class="home icon"></i>Administrator</a>
		<a class="ui active item" href="#"><i class="home icon"></i>Register Tenant</a> 
		<a class="ui item" href="/Administrators/logout"><i class="log out icon"></i>Logout</a>
</nav>


<div class="ui two column grid">

  
  <div class="ui eight wide column">
    <section class="ui segment">
      <form class="ui form segment" action="/Tenants/register" method="POST" onsubmit="return ischecked();" >
	    
	      <div class="ui column">
		    <h1 class="ui header">Register a MyRent Tenant account</h1>
			<h3>Register using a valid email address</h3>
			<div class="two fields" style="width:100%">
			  <div class="field">
			    <label>First Name</label>
			    <input placeholder="First Name" id="firstName" name ="firstName" type="text"  style="border:1px solid black">
			  </div>
			  <div class="field">
			    <label>Last Name</label>
			    <input placeholder="Last Name" id="lastName" name ="lastName" type="text"  style="border:1px solid black">
			  </div>
			</div>
			<div class="field" style="width:50%">
			  <label>Email</label>
			  <input placeholder="Email" id="email" name ="email" type="text"  style="border:1px solid black">
			</div>
			<div class="field" style="width:50%">
			  <label>Password</label>
		      <input placeholder="Password" type="password" id="password" name ="password"  style="border:1px solid black">
			</div>
			<div class="inline field">
			  <div class="ui checkbox">
			    <input id="conditions" type ="checkbox" name="conditions" >
			    <label for="conditions">
			      "I agree to the terms and conditions"
			    </label>
			  </div>  
			</div>
		    <button type="submit" class="ui teal submit button" >Sign-Up</button>
			<div class="ui error message"></div>
		  </div>
		
      </form>
    </section>
  </div>
</div>  
  
  
  
<script src="@{'/public/javascripts/conditions.js'}"></script>
   