 #{extends 'main.html' /} #{set title:'Results' /}
 
<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui item" href="/Administrators/configuration"><i class="home icon"></i>Administrator</a>
		<a class="ui active item" href="/Administrators/report"><i class="list icon"></i>Report</a>
		<a class="ui item" href="/Administrators/charts"><i class="pie chart icon"></i>Charts</a>
		<a class="ui item" href="/Administrators/logout"><i class="log out icon"></i>Logout</a>
</nav>

<section class="ui segment" style="background-color:#CCF5EB">
              
  <section class="ui segment" >
    <h4>Report</h4> 
       <table class ="ui nine column celled table segment"  style="border-collapse: collapse; border-spacing:0">
         <thead style="line-height:0">
           <tr>
             <th>Eircode</th>
             <th>Date</th>
             <th>Type</th>
             <th>No. Bedrooms</th>
             <th>No. Bathrooms</th>
             <th>Rent(&euro;)</th>
             <th>Area m<sup>2</sup></th>
             <th>Landlord</th>
             <th>Tenant</th>
           </tr>       
         </thead>
         <tbody style="line-height:.8">
           #{list items: residences, as: 'res'}           
           <tr>
             <td>${res.eircode}</td>
             <td>${res.date}</td>
             <td>${res.residenceType}</td>            
             <td>${res.numberBedrooms}</td>
             <td>${res.numberBathrooms}</td>
             <td>${res.rent}</td>
             <td>${res.area}</td>
             <td>${res.from.firstName} ${res.from.lastName}</td>
             #{if res.occupant != null}
             <td>${res.occupant.firstName} ${res.occupant.lastName}</td>
             #{/if}
             #{else}
             <td>No Tenant</td>
             #{/else}
           </tr>
           #{/list}         
         </tbody>            
       </table> 
     </section>
     <div class="ui ten wide column center aligned grid">
        <div class="ui four column grid">
      
        <div class="ui column" style="width:20%">
            <form class="ui fluid form" action="/Administrators/sortByRented" method="POST" >
                <div class="ui blue small fluid form segment">
				  <div class="ui compact selection dropdown" >
				    <input name="rentStatus" type="hidden">
				    <div class="text">Rented</div>
				    <div class="menu" >
				      <div class="item" data-value="rented">Rented</div>
				      <div class="item" data-value="vacant">Vacant</div>
				    </div>
				  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="ui center aligned inverted tiny blue button">Filter</button>
                  <div class="ui error message"></div>
                </div>                  
            </form>
        </div>
        
        <div class="ui column" style="width:20%">
            <form class="ui fluid form" action="/Administrators/sortByType" method="POST">
                <div class="ui blue small fluid form segment">
				  <div class="ui compact selection dropdown" >
				    <input name="resType" type="hidden">
				    <div class="text">Type</div>
				    <div class="menu" >
				      <div class="item" data-value="house">House</div>
				      <div class="item" data-value="flat">Flat</div>
				      <div class="item" data-value="studio">Studio</div>
				    </div>
				  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="ui center aligned inverted tiny blue button">Filter</button>
                  <div class="ui error message"></div>
                </div> 
            </form>
        </div>
        
        <div class="ui column" style="width:20%">
            <form class="ui fluid form" action="/Administrators/sortByRent" method="POST">
               <div class="ui blue small fluid form segment">
				  <div class="ui selection dropdown" >
				    <input name="rentSort" type="hidden">
				    <div class="text">Rent(&euro;)</div>
				    <div class="menu" >
				      <div class="item" data-value="ascend">Sort(ascending)</div>
				      <div class="item" data-value="descend">Sort(descending)</div>
				    </div>
				  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="ui center aligned inverted tiny blue button">Filter</button>
                  <div class="ui error message"></div>
                </div>                       
            </form>
        </div>
        <div class="ui column" style="width:20%"> 
          <a href="/Administrators/report"><button type="submit" class="ui center aligned inverted tiny blue button" style="height:50px; vertical-align:top">All <i class="ui recycle icon"></i></button></a>
        </div>
        
     </div>
    </div>
   <script type="text/javascript" src="/public/javascripts/reportValidation.js"></script>
</section>
