#{extends 'main.html' /} #{set title:'Acknowledgement' /}


<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui item" href="/"><i class="home icon"></i>Home</a> 
		<a class="ui item" href="/contact"><i class="mail outline icon"></i>Contact</a>
</nav>

<section class="ui segment">

<h1>MyRent</h1>


<h2>Acknowledgement</h2>

<p>Thank you for your message</p>

<p>We very much appreciate your having taken the time out of your very busy schedule to contact us</p>

<p>We will deal with the issues you have raised and advise you of the outcome as soon as possible</p>

<p>With best wishes</p>

<p>From the MyRent team</p>


</section>