#{extends 'main.html' /} #{set title:'Contact' /}


<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui item" href="/"><i class="home icon"></i>Home</a> 
		<a class="ui active item" href="/contact"><i class="mail outline icon"></i>Contact</a>
</nav>

<section class="ui segment">
  <form class="ui form segment" action="/sendFeedback" method="POST">
	 <div class="ui section" style="width:50%">
	    <h3 class="ui header">We would very much appreciate if you would provide us with some feed back.</h3>
        <div class="two fields">
			        <div class="field">
			          <label>First Name</label>
			          <input placeholder="First Name" id="firstName" name ="firstName" type="text"  style="border:1px solid black">
			        </div>
			        <div class="field">
			          <label>Last Name</label>
			          <input placeholder="Last Name" id="lastName" name ="lastName" type="text"  style="border:1px solid black">
			        </div>
			      </div>
			      <div class="field">
			          <label>Email</label>
			          <input placeholder="Email" id="email" name ="email" type="text"  style="border:1px solid black">
			      </div>
			      <div class="field">
						<label>Message</label>
						<textarea name="message" id="userMessage" placeholder="Enter your message..." style="border:1px solid black"></textarea>
				  </div> 
			  
				<button type="submit" class="ui teal submit button">Submit</button>
				<div class="ui error message"></div>
			  </div>
		</form>
      </section>
      <script src="@{'/public/javascripts/conditions.js'}"></script>
     