#{extends 'main.html' /} #{set title:'Configuration' /}


<nav class="ui inverted teal menu" style="border:2px double silver"> 
		<a class="ui active item" href="/Landlords/configuration"><i class="home icon"></i>Landlord</a>
		<a class="ui item" href="/Landlords/logout"><i class="log out icon"></i>Logout</a>
</nav>

<h4>Welcome to your Configuration page ${landLord.firstName}</h4>

<section class="ui segment"> 
  <p>Please select an option</p>
</section>
<section class="ui three column grid">

  <section class="ui two wide column">
  </section>
  
  <section class="ui twelve wide column">
    <section class="ui two column grid">
      <div class="ui column">
        <section class="ui center aligned segment" style="border:1px solid teal">
          <a href="/InputData/index" ><button type="submit" class="ui teal segment" style="width:42%">Add Residence<i class="plus icon"></i></button></a>
        </section>
      </div>
      <div class="ui column">
        <section class="ui center aligned segment" style="border:1px solid teal" >
          <a href="/Landlords/edit" ><button type="submit" class="ui teal segment" style="width:42%">Edit Profile<i class="edit icon"></i></button></a>
        </section>
      </div>
    </section>
#{if landLordRes.size == 0}
#{/if}
#{else}
    <section class="ui two column grid">
      <div class="ui column">
        <section class="ui center aligned segment" style="border:1px solid teal" >
          <div class="two row grid">
            <form class="ui fluid form resIdDeleteEdit" action="/Landlords/deleteResidence" method="POST">
              <div class="row">
                <div class="ui blue small fluid form segment">
				  <div class="ui selection dropdown" >
				    <input name="resId" type="hidden">
				    <div class="text">Select Residence...</div>
				    <i class="dropdown icon"></i>
				    <div class="menu" >
				      #{list items: landLordRes, as: 'res'}
				      <div class="item" data-value="${res.id}">${res.eircode}</div>
				      #{/list}
				    </div>
				  </div>
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="form-actions">
                  <button type="submit" class="ui center aligned inverted red button" style="width:42%">Delete Residence<i class="remove icon"></i></button>
                  <div class="ui error message"></div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
      <div class="ui column">
        <section class="ui center aligned segment" style="border:1px solid teal">
          <div class="two row grid">
            <form class="ui fluid form resIdDeleteEdit" action="/Landlords/editResidence" method="GET">
              <div class="row">
                <div class="ui blue small fluid form segment">
				  <div class="ui selection dropdown" >
				    <input name="resId" type="hidden">
				    <div class="text">Select Residence...</div>
				    <i class="dropdown icon"></i>
				    <div class="menu" >
				      #{list items: landLordRes, as: 'res'}
				      <div class="item" data-value="${res.id}">${res.eircode}</div>
				      #{/list}
				    </div>
				  </div>
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="form-actions">
                  <button type="submit" class="ui center aligned inverted green button" style="width:42%">Edit Residence <i class="edit icon"></i></button>
                  <div class="ui error message"></div>
                </div>
              </div>	
            </form>
          </div>
        </section>
      </div>
    </section>
  </section>
  <section class="ui two wide column">
  </section>
</section>
#{/else}
<script src="/public/javascripts/landTenAdmin.js" type="text/javascript" charset="utf-8"></script>
