#{extends 'main.html' /} #{set title:'Edit Residence' /}
     
     
<nav class="ui inverted teal menu" style="border:2px double silver"> 
		<a class="ui item" href="/Landlords/configuration"><i class="home icon"></i>Landlord</a>
		<a class="ui active item" href="#"><i class="edit icon"></i>Edit residence</a>
		<a class="ui item" href="/Landlords/logout"><i class="log out icon"></i>Logout</a>
</nav>

<input name="resId" value="{res.id}" style="display:none">
<div class="ui segment" ><p style="text-align:center"  >Update Residence information.</p></div>
  
<form action="/Landlords/editRes" method="POST" onsubmit="return check();"> 
  <div class="ui three column grid">
    <div class="ui two wide column"></div>
      <div class="ui twelve wide column">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui teal segment">
              <div class="ui two column grid">
                <div class="ui column" style="width:40%">
                  <div class="text" ><h4>Eircode:</h4></div>
                </div>
                <div class="ui column" style="width:60%">
                  <div class="ui input" style="width:100%">
                    <input class="ui field" placeholder="Eircode..." name="eircode" value="${res.eircode}" type="text" style="border:1px solid black; width:100%" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui column">
            <div class="ui teal segment">
              <div class="ui two column grid">
                <div class="ui column" style="width:40%">
                  <div class="text"><h4>Please enter new rent amount(numbers only):</h4></div>
                </div>
                <div class="ui column" style="width:60%">
                  <div class="ui input" style="width:100%">
                    <input placeholder="(&euro;)${res.rent}" name="rent"  id="numberCheck" type="text" style="border:1px solid black; width:100%">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="ui two wide column"></div>
  </div>
  <p></p>
  <input name="resId" value="${res.id}" hidden> 
  <section  class="ui three column grid">
    <section class="ui six wide column">
    </section>
    <section class="ui four wide column">
      <button type="submit" class="ui teal button" style="width:100%">Update Residence<i class="plus icon"></i></button>
    </section>
    <section class="ui six wide column">
    </section>
  </section>
</form>
 <script src="/public/javascripts/landTenAdmin.js" type="text/javascript" charset="utf-8"></script>