#{extends 'main.html' /} #{set title:'Edit Profile' /}

<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui item" href="/Landlords/configuration"><i class="home icon"></i>Landlord</a>
		<a class="ui active item" href="#"><i class="edit icon"></i>Edit Profile</a>
		<a class="ui item" href="/Landlords/logout"><i class="log out icon"></i>Logout</a>
</nav>

<section class="ui segment">
    
	<form class="ui form segment" action="/Landlords/editDetails" method="POST" onsubmit="return passVal();">
	  
			<div class="ui two column grid">
			  <div class="ui column">
			      <h1 class="ui header">Edit Details</h1>
			      <h3>You may edit your name or address.</h3>
			      <div class="two fields">
			        <div class="field">
			          <label>First Name</label>
			          <input placeholder="${landLord.firstName}" id="firstName" name ="firstName" type="text"  style="border:1px solid black">
			        </div>
			        <div class="field">
			          <label>Last Name</label>
			          <input placeholder="${landLord.lastName}" id="lastName" name ="lastName" type="text"  style="border:1px solid black">
			        </div>
			      </div>
			      <div class="field">
			          <label>Email</label>
			          <input placeholder="${landLord.email}" id="email" name ="email" type="text"  style="border:1px solid black">
			      </div>
			      <div class="field" style="width:50%">
			          <label>Address</label>
			          #{if "${landAdd[0]}" == " "}
			          <input placeholder="Address line 1" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/if}
			          #{else}
			          <input placeholder="${landAdd[0]}" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/else}
			          #{if "${landAdd[1]}" == " "}
			          <input placeholder="Address line 2" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/if}
			          #{else}
			          <input placeholder="${landAdd[1]}" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/else}
			          #{if "${landAdd[2]}" == " "}
			          <input placeholder="Address line 3" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/if}
			          #{else}
			          <input placeholder="${landAdd[2]}" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/else}
			          #{if "${landAdd[3]}" == " "}
			          <input placeholder="City/County" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/if}
			          #{else}
			          <input placeholder="${landAdd[3]}" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/else}
			          #{if "${landAdd[4]}" == " "}
			          <input placeholder="Country" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/if}
			          #{else}
			          <input placeholder="${landAdd[4]}" id="address" name ="address[]" type="text"  style="border:1px solid black">
			          #{/else}
			      </div>
			      <h4 style="color:red">You must enter your password to apply your updates.</h4>
			      <div class="field" style="width:50%">
			          <label>Password</label>
			          <input placeholder="Password" type="password" id="password" name ="password"  style="border:1px solid black">
			      </div>
			      
				<button type="submit" class="ui teal submit button" >Submit</button>
				
			  </div>
			</div>
		  
		</form>
      </section>
      <input id="landLord" name="landLord" value="${landLord.password}" hidden="true">
      <script src="@{'/public/javascripts/landTenAdmin.js'}"></script>